<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="storeModal(reviewForm)" class="modal fade" id="store-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" onclick="xBtnClick()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2">
                    <div class="newheart mt-1 me-2">
                        <img id="storeHeart" src="/image/deadheart.png" alt="heartClicked" width="38px" height="40px" onclick="modalHeartClick(this)">
                    </div>
                    <span hidden id="storeId"></span>
                    <li class="modal-title fs-2" id="storeName"></li>
                    <li class="fs-5 ms-2 mt-2 pt-1" id="storeBranch"></li>
                    <div class="mx-3">
                        <div>
                            <span>별점 ⭐ </span>
                            <span id="storeStarAvg">3.5</span>
                        </div>
                        <div>
                            <span>찜 💖 </span>
                            <span id="storeLikeCount">40</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="modal-map"
                             id="staticMap"
                             style="width: 100%; height: 300px;">
                        </div>
                        <div class="d-flex justify-content-between text-center mt-2">
                            <div id="storeAddr">주소</div>
                            <div class="me-2">
                                <img src="/image/kakao_map.png" height="30px" onclick="otherMap('kakao')" style="cursor: pointer">
                                <img src="/image/naver2.png" height="30px" onclick="otherMap('naver')" style="cursor: pointer">
                            </div>
                        </div>
                        <hr style="margin-top: 6px">
                        <div class="d-flex">
                            <div class="badge bg-danger me-2">추천메뉴</div>
                            <div id="storeMenu">가게정보(메뉴태그)</div>
                        </div>
                        <div class="badge bg-light text-dark border mb-2 mt-3">추천 하이볼</div>
                        <div id="drink-tags"></div>
                        <div class="badge bg-light text-dark border mt-3 mb-2">분위기</div>
                        <div id="point-tags"></div>
                    </div>
                    <div class="col-lg-6 col-md-12" style="overflow-y: scroll; max-height: 80vh">
                        <th:block th:replace="${reviewForm}" />
                        <div class="p-1"></div>
                        <div class="d-flex justify-content-end">
                            <select class="form-select-sm mb-1" name="sort" oninput="reviewSort(this)">
                                <option value="default">최신순</option>
                                <option value="cdtAsc">오래된순</option>
                                <option value="starDesc">별점높은순</option>
                                <option value="starAsc">별점낮은순</option>
                            </select>
                        </div>
                        <div id="review_section" class="list-group"></div>
                        <div id="review-paging"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
