<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="storeModal(reviewForm)" class="modal fade" id="store-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" onclick="xBtnClick()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex mb-2">
                    <div class="newheart mt-1 me-2">
                        <img id="storeHeart" src="/image/deadheart.png" alt="heartClicked" width="38px" height="40px" onclick="modalHeartClick(this)">
                    </div>
                    <span hidden id="storeId"></span>
                    <li class="modal-title fs-2" id="storeName"></li>
                    <div class="mx-3">
                        <div>
                            <span>별점 ⭐ </span>
                            <span id="storeStarAvg">3.5</span>
                        </div>
                        <div>
                            <span>찜 💖 </span>
                            <span id="storeLikeCount">40</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="modal-map"
                             id="staticMap"
                             style="width: 100%; height: 300px;">
                        </div>
                        <div class="d-flex text-center">
                            <div class="col-6" style="background-color: yellow">카카오맵으로 정보보기</div>
                            <div class="col-6" style="background-color: limegreen">네이버 지도로 정보보기</div>
<!--                            🧭 지도로 정보보기-->
                        </div>
                        <div id="storeAddr" class="mt-1">주소</div>
                        <div id="storeMenu" class="mt-1">가게정보(메뉴태그)</div>
                        <div class="mt-1">하이볼태그</div>
                        <div id="drink-tags"></div>
                        <div class="mt-1">분위기태그</div>
                        <div id="point-tags"></div>
                    </div>
                    <div class="col-lg-6 col-md-12" style="overflow-y: scroll; max-height: 80vh">
                        <th:block th:replace="${reviewForm}" />
                        <div class="p-1"></div>
                        <div class="d-flex justify-content-end">
                            <select class="form-select-sm mb-1" name="sort" oninput="reviewSort(this)">
                                <option value="default">최신순</option>
                                <option value="cdtAsc">오래된순</option>
                                <option value="starDesc">별점높은순</option>
                                <option value="starAsc">별점낮은순</option>
                            </select>
                        </div>
                        <div id="review_section" class="list-group"></div>
                        <div id="review-paging"></div>
                    </div>
                </div>
            </div>
            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
            <!--                <button type="button" class="btn btn-primary">Understood</button>-->
            <!--            </div>-->
        </div>
    </div>
</div>
</html>