@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'MICEGothic Bold', serif;
}

.nav-top {
    padding-top: 56px;
}

.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.rv-star {
    font-size: 1.3rem;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute;
    left: 0;
    color: #f7cd63;
    overflow: hidden;
    pointer-events: none;
}

.heart-wrap {
    position: relative;
    cursor: pointer;
}

.heart{
    height: 90px;
    width: 90px;
    background-image:  url("https://imagizer.imageshack.com/img922/4224/UkKFPz.png");
    background-position: left;
    background-size: 2900%;
}

.heart.heart-active{
    background-position: right;
    animation: animate .8s steps(28) 1;
}

@keyframes animate{

    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

/*복붙*/
.newheart {
    justify-items: center;
}

.text-left {
    text-align: left !important;
}

.nav-list {
    cursor : pointer;
}

.nav-list:hover {
    filter: brightness(108%);
}
