/*@media (max-width: 1199px) {*/
/*    .modal-map {*/
/*        width: 400px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .modal-map {*/
/*        width: 600px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

.modal-header {
    border : 0;
    padding-bottom: 0;
}

.modal-body {
    padding-top : 0;
}

li {
    list-style: none;
}