/*@media (max-width: 1199px) {*/
/*    .modal-map {*/
/*        width: 400px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .modal-map {*/
/*        width: 600px;*/
/*        height: 300px;*/
/*    }*/
/*}*/

.modal-header {
    border : 0;
    padding-bottom: 0;
}

.modal-body {
    padding-top : 0;
}

#staticMap a {
    cursor: default;
}

li {
    list-style: none;
}

textarea {
    resize : none;
    width: 100%;
    padding: 2%;
}

#review-save {
    width: 100%;
}

#input-file-label {
    cursor: pointer;
}

input:hover + label {
    color: #f7cd63;
}

.validation {
    color: orangered;
}