@media (min-width: 1300px) {
    .margin-lg-left {
        margin-left: 10rem;
    }

    .margin-lg-right {
        margin-right: 10rem;
    }
}

.profile-wrap {
    position: relative;
}


hr {
    color: #bdbdbd;
}

.myPageStoreName :hover {
    background-color: #03C75A;
    color: blue;
}

.myPageStoreName {
    cursor: pointer;
}

.saved {
    background-color: #FADF70FF;
    font-size: 24px;
    text-align: center;
    outline: none;
    border: none;
}


.show {
    display: block;
}

.hide {
    display: none;
}

.btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}
.btn-upload:hover {
     background: rgb(77,77,77);
     color: #fff;
 }

#new-picture {
    display: none;
}

#label-new-picture {
    position: absolute;
    opacity: 40%;
}