@media (min-width: 1300px) {
    .margin-lg-left {
        margin-left: 10rem;
    }

    .margin-lg-right {
        margin-right: 10rem;
    }
}

.profile-wrap {
    position: relative;
}

.profile-update {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(190%, -120%);
}

hr {
    color: #bdbdbd;
}

.list-wrap {
    position: relative;
    /*transform: translate(0%, -30%);*/
}

.heart-btn{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(5000%, -50%);*/
}

.content{
    /*border: 2px solid #eaeaea;*/
    /*padding: 13px 16px;*/
    /*padding-right: 0.1vw;*/
    /*border-radius: 5px;*/
    /*display: flex;*/
    cursor: pointer;
}

.heart{
    height: 90px;
    width: 90px;
    background-image:  url("https://imagizer.imageshack.com/img922/4224/UkKFPz.png");
    background-position: left;
    background-size: 2900%;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 21%;*/
    /*transform: translate(0%, -25%);*/
    }

.heart.heart-active{
    background-position: right;
    animation: animate .8s steps(28) 1;
}

@keyframes animate{

    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
/*.like{*/
/*    margin-left: 30px;*/
/*    font-size: 21px;*/
/*    color: gray;*/
/*}*/
/*.like.heart-active{*/

/*    color: black;*/

/*}*/
/*#edit-picture {*/
/*    display: none;*/
/*}*/

/*#picture:hover #edit-picture {*/
/*    display: block;*/
/*}*/

/*#picture:hover input[type="file"] {*/
/*    !*position: absolute;*!*/
/*    !*width: 0;*!*/
/*    !*height: 0;*!*/
/*    !*padding: 0;*!*/
/*    !*overflow: hidden;*!*/
/*    !*border: 0;*!*/
/*    display: block;*/
/*}*/
