<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Hype-Ball</title>
  <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
<form action="/store/save" method="post" th:object="${form}">
  <div>
  상호명 : <input type="text" th:field="${form.name}" placeholder="상호명을 입력하세요" />
    <div th:errors="${form.name}"></div>
  </div>
  <div>
  지점 : <input type="text" th:field="${form.branch}" />
    <div th:errors="${form.branch}"></div>
  </div>
  분류 : <input type="text" th:field="${form.category}" />
  추천메뉴 : <input type="text" th:field="${form.menu}" />
  소개 : <input type="text" th:field="${form.content}" />
  주소 : <input type="text" th:field="${form.address}" />
  위도 : <input type="text" step="1" th:field="${form.lat}" required/>
  경도 : <input type="text" step="any" th:field="${form.lng}" required/>
  <button type="submit">등록</button>
</form>
</body>
</html>