<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add" method="post">
    상호명 : <input type="text" name="name" />
    지점 : <input type="text" name="branch" />
    분류 : <input type="text" name="category_id" />
    추천메뉴 : <input type="text" name="menu" />
    소개 : <input type="text" name="content" />
    주소 : <input type="text" name="address" />
    위도 : <input type="text" step="any" name="lat" required/>
    경도 : <input type="text" step="any" name="lng" required/>
    <button type="submit">등록</button>
</form>
</body>
</html>