<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
    <link />
    <script src=""></script>
</head>
<body class="nav-top">
<nav th:replace="~{fragments/nav :: nav}"></nav>
<a href="/oauth2/authorization/google" class="btn active">구글 로그인</a>
<a href="/oauth2/authorization/kakao" class="btn active">카카오 로그인</a>
<a href="/oauth2/authorization/naver" class="btn active">네이버 로그인</a>
<a href="/logout" class="btn active">로그아웃</a>
<a href="https://kauth.kakao.com/oauth/logout?client_id=e073bdd8fc4dac5f02fd9eb5657f01a5&logout_redirect_uri=http://localhost:8080/oauth2/kakao/logout&response_type=code" class="btn active">로그아웃</a>
<a href="/oauth2/loginInfo" class="btn active">loginInfo</a>
<a href="/oauth2/sessionInfo" class="btn active">sessionInfo</a>
<a href="/oauth2/session/clear" class="btn active">sessionClear</a>
<h1 th:if="${session.loginMember} != null" th:text="${session.loginMember.name}"></h1>
<br>
<a href="/map/home" class="btn active">mapHome</a>
<a href="/member/myPage" class="btn active">myPage</a>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>