<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<h1>hype-ball</h1>

<a href="/oauth2/authorization/google" class="btn active">구글 로그인</a>
<a href="/oauth2/authorization/kakao" class="btn active">카카오 로그인</a>
<a href="/oauth2/authorization/naver" class="btn active">네이버 로그인</a>
<a href="/logout" class="btn active">로그아웃</a>
<a href="https://kauth.kakao.com/oauth/logout?client_id=e073bdd8fc4dac5f02fd9eb5657f01a5&logout_redirect_uri=http://localhost:8080/oauth2/kakao/logout&response_type=code" class="btn active">로그아웃</a>
<a href="/oauth2/authorization/kakao/logout" class="btn active">로그아웃</a>
<h1 th:if="${session.member} != null" th:text="${session.member.name}"></h1>

</body>
<script>
</script>
</html>