<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
    <link />
    <script src=""></script>
</head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<h1>hype-ball</h1>

<a href="/oauth2/authorization/google" class="btn active">구글 로그인</a>
<a href="/oauth2/authorization/kakao" class="btn active">카카오 로그인</a>
<a href="/oauth2/authorization/naver" class="btn active">네이버 로그인</a>
<a href="/logout" class="btn active">로그아웃</a>
<a href="https://kauth.kakao.com/oauth/logout?client_id=e073bdd8fc4dac5f02fd9eb5657f01a5&logout_redirect_uri=http://localhost:8080/oauth2/kakao/logout&response_type=code" class="btn active">로그아웃</a>
<a href="/oauth2/loginInfo" class="btn active">loginInfo</a>
<a href="/oauth2/sessionInfo" class="btn active">sessionInfo</a>
<a href="/oauth2/session/clear" class="btn active">sessionClear</a>
<h1 th:if="${session.member} != null" th:text="${session.member.name}"></h1>
<br>
<a href="/map/home" class="btn active">mapHome</a>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    메뉴
</button>

<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            I will not close if you click outside of me.
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>