<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
  <!-- tag -->
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
  <link href="/css/map.css" rel="stylesheet"/>
  <link href="/css/modal.css" rel="stylesheet"/>
  <link href="/css/review.css" rel="stylesheet"/>
  </head>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div id="map"></div>
<form id="searchBar"></form>
  <div id="board-wrap">
    <div class="top-panel">
      <ul id="top-boards" class="mt-4">
      </ul>
    </div>
  </div>
<!--모달-->
<div th:replace="~{fragments/storeModal :: storeModal(~{::form})}">
  <form>
  <div th:if="${session.loginMember} == null">
    <a href="/#loginModal">로그인하고 리뷰 작성하기</a>
  </div>
  <div th:unless="${session.loginMember} == null">
    <div id="reviewer-choice" class="mb-2">
      <div class="mb-2"> ✨ 별점은?<span class="star ms-3">★★★★★
                                <span id="inputStar">★★★★★</span>
                                <input type="range" name="star" oninput="drawStar(this)" value="0" step="1" min="0" max="10">
                            </span><span class="validation" id="valid-star"></span></div>
      <div class="mb-2"> 🍹 당신의 베스트 하이볼? <span class="validation" id="valid-drinkList"></span></div>
      <div>
        <input name="tags" placeholder="이건 꼭 마셔야해!"/>
      </div>
      <div class="my-2"> 💫 분위기는 어땠나요? <span class="validation" id="valid-pointList"></span></div>
      <div th:each="point:${pointList}" class="btn-group gap-2" role="group"
           aria-label="Basic checkbox toggle button group">
        <input type="checkbox" name="point-tag" th:value="${point.id}" class="btn-check"
               th:id="'btncheck' + ${point.id}" autocomplete="off">
        <label class="btn btn-outline-warning rounded-pill mb-1" th:for="'btncheck' + ${point.id}"
               th:text="${point.name}"></label>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <div>😎 당신의 의견이 궁금해요 <span class="validation" id="valid-content"></span></div>
      <label id="input-file-label" for="input-file">
        [ 사진 업로드 ]
      </label>
      <input type="file" name="input-file" id="input-file" class="d-none" accept="image/*"
             onchange="setThumbnail(event);" multiple/>
    </div>
    <textarea id="review-content" rows="4" placeholder="리뷰를 입력해주세요 : )"></textarea>
    <div id="image_container"></div>

    <div class="d-flex justify-content-center">
      <button type="button" id="review-save" class="btn btn-warning btn-lg">리뷰등록
      </button>
    </div>
  </div>
  </form>
</div>
<!--kakao API-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=77994d5c2a28508241eeb2d94b1aa113"></script>
<script src="/js/map.js"></script>
<script src="/js/reviewAdd.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/like-btn.js"></script>
</body>
</html>
