<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
  <!-- tag -->
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
  <link href="/css/map.css" rel="stylesheet"/>
  <link href="/css/modal.css" rel="stylesheet"/>
  <link href="/css/review.css" rel="stylesheet"/>
  </head>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<!--<div style="background-color: #f7cd63; position: absolute; z-index: 100"><h1>하입볼</h1></div>-->
<div id="map"></div>

<!--모달-->
<div th:replace="~{fragments/storeModal :: storeModal}"></div>
<!--kakao API-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=77994d5c2a28508241eeb2d94b1aa113"></script>
<script src="/js/map.js"></script>
<script src="/js/reviewAdd.js"></script>
<script src="/js/reviewLoading.js"></script>
<script src="/js/like-btn.js"></script>
</body>
</html>