<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::link}, ~{:://head/script})}">
  <!-- tag -->
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="/js/profile.js"></script>
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
  <link href="/css/map.css" rel="stylesheet"/>
  <link href="/css/modal.css" rel="stylesheet"/>
  <link href="/css/review.css" rel="stylesheet"/>
  <link href="/css/myPage.css" rel="stylesheet"/>
</head>
<body class="nav-top">
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="w-100">
<!-- 프로필 -->
<form>
  <div class="d-flex justify-content-center pt-4" style="background-color: #FADF70">
    <img id="picture" th:src="${session.loginMember.picture}" alt="profile" class="rounded-circle d-block" style="width: 170px; height: 170px; position: relative">
    <label id="label-new-picture" for="new-picture">
      <div class="btn-upload hide">파일 업로드하기</div>
    </label>
    <input type="file" class="d-none" name="picture" id="new-picture" accept="image/*"
         onchange="showNewPic(event);" style="position: absolute;top: 130px;left: 600px;"/>
  </div>
  <div class="d-flex justify-content-center gap-2 p-2 profile-wrap" style="background: #FADF70;">
      <input type="text" id="nickname" name="name" class="mb-0 saved" th:value="${session.loginMember.name}" readonly>
      <button type="button" id="profileEditBtn" class="btn btn-light btn-sm profile-update show" onclick="editMode()">수정</button>
      <button type="button" id="profileSaveBtn" class="btn btn-light btn-sm profile-update hide">저장</button>
  </div>
  <div class="validation d-flex justify-content-center p-2" id="valid-name" style="background-color: #FADF70"></div>
</form>
<div class="row py-5">
  <!-- 찜 -->
  <div class="col-lg-6 col-md-12">
    <div style="padding: 2rem; background-color: #F3F2EE; height: 65vh; overflow: hidden" class="margin-lg-left rounded pb-2">
      <h3 class="text-center">찜한 하이볼 명가</h3>
      <div class="d-flex justify-content-between mb-1">
        <button class="btn btn-outline-dark btn-sm" onclick="location.href='/member/myLike'">
          <img src="/image/marker_pink.png" class="me-1" style="height: 25px">찜한 리스트 지도로 보기</button>
        <span class="mt-3 me-4">
        <small th:text="'총 개수 : '"></small>
        <small id="myLikeCount" th:text="${likeList.size()}"></small>
        </span>
      </div>
      <ul class="list-group" style="overflow-y: scroll; max-height: 50vh">
        <li th:if="${likeList.size()} == 0" class="list-group-item text-center my-0 align-middle">
          <p>찜한 하이볼 명가가 없습니다.</p>
          <a href="/map/home">명가 보러가기</a>
        </li>
        <li th:each="storeLike : ${likeList}" class="list-group-item d-flex justify-content-between my-0">
          <div>
            <p class="fs-5 mb-0 mt-2" th:text="${storeLike.storeName}">쿠이신보</p>
            <small th:text="${storeLike.storeAddress}">00구 00동 000 </small>
            <p class="mb-0"><a class="link" th:onclick="'createModal('+${storeLike.storeId}+')'" data-bs-toggle="modal" data-bs-target="#store-modal">상세 보기</a></p>
          </div>
          <div class="heart-wrap">
            <div th:id="'like' + ${storeLike.storeLikeId}" th:value="${storeLike.storeId}" class="heart heart-active" onclick="clickHeart(this)"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- 리뷰 -->
  <div class="col-lg-6 col-md-12">
    <div class="margin-lg-right rounded" style="padding: 2rem; background-color: #F3F2EE; height: 65vh">
      <h3 class="text-center">작성한 리뷰</h3>
      <div class="d-flex justify-content-end mb-1">
        <select class="form-select-sm me-4" name="sort" oninput="myReviewSort(this)">
          <option value="default">최신순</option>
          <option value="cdtAsc">오래된순</option>
          <option value="starDesc">별점높은순</option>
          <option value="starAsc">별점낮은순</option>
        </select>
      </div>
      <div id="my_review_section" class="list-group" style="overflow-y: scroll; max-height: 50vh">
        <a class="list-group-item list-group-item-action my-1 text-center" th:if="${myReviews.size()} == 0">
          <p>작성한 리뷰가 없습니다.</p>
        </a>
        <a class="list-group-item my-1" th:each="review : ${myReviews}">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <p class="fs-5 mb-0 myPageStoreName" th:text="${review.getStoreName()}" th:onclick="'createModal('+${review.getStoreId()}+')'" data-bs-toggle="modal" data-bs-target="#store-modal">가게명</p>
              <button class="btn btn-danger btn-sm"
              onclick="deleteConfirm(this)" th:id="${review.getReviewId()}">삭제</button>
            </div>
            <hr class="my-1">
            <div class="d-flex w-100 justify-content-between">
              <span class="star rv-star">★★★★★
                <span th:style="'width:' + (${review.star} * 20) + '%'">★★★★★</span>
              </span>
              <small class="text-dark" th:text="${review.getCreatedDate()}">myReviews[i].createdDate</small>
            </div>
          </div>
          <small th:each="drinkTag : ${review.getDrinks()}" th:text="${drinkTag.drink}" style="background-color: #FF9900" class="badge rounded-pill"></small>
          <p class="my-1 rv-content text-dark" th:text="${review.getContent()}">리뷰 내용</p>
          <div class="row m-auto gap-1">
            <div class="img-wrap" th:each="attachedFile : ${review.getAttachedFiles()}">
                 <img th:src="|/files/${attachedFile.getStoreFileName()}|" class="img-thumbnail review-img" alt="img" onclick="imgSizeChange(this)">
                 <p class="img-hover-text">이미지<br>크게 보기</p>
                 <p class="img-hover-text2">이미지<br>원래대로</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<!--모달-->
<div th:replace="~{fragments/storeModal :: storeModal(~{::form2})}">
  <form2></form2>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--kakao API-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=77994d5c2a28508241eeb2d94b1aa113"></script>
<script src="/js/reviewAdd.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/like-btn.js"></script>
<script src="/js/reviewDelete.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>